# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Environments
.env
.venv
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Project specific
builds/*.exe
internals/
*.log
status.md
